.row{
    margin:10px;
    border:1px solid black;
    background-color:beige;
}
ul{
    list-style-position: inside;

}
img{
    margin:20px;
    align-self: center;
}
.rightimg{
    margin-left:350px;
    margin-top:-70px;
}
.img4{
    margin-left:450px;
    margin-top:-150px;
}
aside{
    margin-left:-125px;
    margin-top:-225px;
}
.tom{
    margin-left:550px;
    margin-top:-275px;
}